@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #E8E0E8;
}
.login-box-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vw;
}
.login-content {
    width: 100%;
    max-width: 509px;
    border-radius: 40px;
    background-color: #A376A2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 3rem 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
}
.logo-png {
    width: 40%;
    max-width: 230px;
    height: auto;
    object-fit: contain;
}
.email-input,
.password-input {
    width: 100%;
    max-width: 356px;
    height: 63px;
    border-radius: 35px;
    border: none;
    background-color: white;
    text-align: center;
    font-size: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
}
.login-btn {
    width: 80%;
    max-width: 252px;
    height: 73px;
    border-radius: 50px;
    border: none;
    background-color: #6B3F69;
    font-size: 1.3rem;
    color: white;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    margin-top: 2rem;
    transition: 0.3s;
}
@media (max-width: 900px) {
    .login-content {
        padding: 2.5rem 1.5rem;
        gap: 1.5rem;
    }

    .email-input,
    .password-input {
        height: 55px;
        font-size: 0.95rem;
    }

    .login-btn {
        height: 65px;
        font-size: 1.1rem;
    }

    .logo-png {
        max-width: 200px;
    }
}
@media (max-width: 600px) {
    .login-content {
        border-radius: 25px;
        padding: 2rem 1rem;
        gap: 1rem;
    }

    .logo-png {
        width: 50%;
        max-width: 150px;
    }

    .email-input,
    .password-input {
        height: 50px;
        font-size: 0.9rem;
    }

    .login-btn {
        width: 100%;
        height: 55px;
        font-size: 1rem;
        margin-top: 1rem;
    }
}
